[Unit]
Description = uWSGI

[Service]
ExecStart= /home/oonishi/repos/jpelectricdata/.venv/bin/uwsgi --ini /home/oonishi/repos/jpelectricdata/app/app.ini
ExecStop=/bin/kill -INT ${MAINPID}
KillSignal=SIGQUIT
Type=notify
StandardError=syslog

[Install]
WantedBy=default.target
